<!DOCTYPE html>
<html>
<%- include component/header.ejs %>
<style>
    .left {
        background-image: url('/images/loginBg.png');
    }
</style>
<body>
  <div class="container-fluid">
      <div class="row vh-100">
          <div class="col-5 left d-flex flex-column justify-content-center align-items-center text-white">
              <h3>Welcome to Temp Mail !</h3>
              <p>Log in, don’t destroy, donate all advertising revenue, Mercy Corps!
            </p>
          </div>
          <div class="col-7 d-flex justify-content-center align-items-center">
              <div class="w-50 text-center">
                <h3>Login Account</h3>
                <p class="mb-4">Enter your username and password</p>
                <input class="form-control mb-3" id="account" placeholder="輸入你的帳號">
                <input class="form-control mb-3" id="password" placeholder="輸入你的密碼">
                <div class="w-100 text-right">
                    <button class="btn btn-primary" id="loginBtn">Login</button>
                </div>
              </div>
             
          </div>
      </div>
  </div>
  <script>
      
  </script>
</body>

</html>